input, label, button{
	display: block;
	margin: 10px;
}

.navbar {
	border-radius: 0;
	margin: 0;
	font-family: arkhip;
}

#topHalf {
	background: url('https://static.pexels.com/photos/3797/black-and-white-sport-fight-boxer.jpg');
	height: 350px;
	background-size: cover;
	background-position: 0 -90%;
}

.bottomHalf {
	color: #fefdfd;
	height: 500px;
}

i {
	color: #222222;
	border-radius: 50%;
	box-shadow: 0 0 10px white;
	margin-top: 20px;
}

.textSec {
	margin-top: 10%;
}

.distance, .max, .weight {
	display: none;
}